<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>JSF with PrimeFaces Example</title>
</h:head>

<h:body>
    <h:form>
        <p:panel header="Greeting">
            <p:inputText value="#{greetingBean.name}" placeholder="Enter name" />
            <p:commandButton value="Submit" action="#{greetingBean.greeting}" update="messageText" />
            <p:outputLabel id="messageText" value="#{greetingBean.message}" />
        </p:panel>
    </h:form>
</h:body>

</html>
