<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>CRUD Alumnos</title>
</h:head>
<h:body>
    <h:form>
        <h:panelGrid columns="2" id="alumnoForm">
            <p:outputLabel value="Nombre:" for="nombresTxt"/>
            <p:inputText id="nombresTxt" value="#{alumnoBean.nuevoAlumno.nombres}"/>

            <p:outputLabel value="Apellidos:" for="apellidosTxt"/>
            <p:inputText id="apellidosTxt" value="#{alumnoBean.nuevoAlumno.apellidos}"/>
        </h:panelGrid>

        <p:commandButton value="Crear" action="#{alumnoBean.registro}" update="alumnosTable"/>
        <p:commandButton value="Actualizar" action="#{alumnoBean.actualizarAlumno}" update="alumnosTable"/>
        <p:commandButton value="Limpiar" action="#{alumnoBean.limpiarAlumno}" update="nombresTxt apellidosTxt"/>

        <p:dataTable id="alumnosTable" value="#{alumnoBean.alumnos}" var="alumno">
            <p:column headerText="ID">
                <h:outputText value="#{alumno.id}"/>
            </p:column>
            <p:column headerText="Nombres">
                <h:outputText value="#{alumno.nombres}"/>
            </p:column>
            <p:column headerText="Apellidos">
                <h:outputText value="#{alumno.apellidos}"/>
            </p:column>
            <p:column>
                <p:commandButton value="Editar" action="#{alumnoBean.obtenerAlumno(alumno.id)}"
                                 update="@form"/>
                <p:commandButton value="Eliminar" action="#{alumnoBean.eliminarAlumno(alumno.id)}"
                                 update="alumnosTable"/>
            </p:column>
        </p:dataTable>
    </h:form>
</h:body>
</html>
