<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Alumnos</title>
</h:head>
<h:body>
    <h:form>
        <p:panel header="Registro de Alumnos ">
            <p:outputLabel value="Nombres:" for="nombres"/>
            <p:inputText id="nombres" value="#{alumnoBean.nuevoAlumno.nombres}" required="true" />
            <p:outputLabel value="Apellidos:" for="apellidos"/>
            <p:inputText id="apellidos" value="#{alumnoBean.nuevoAlumno.apellidos}" required="true" />
            <p:commandButton value="Registro" action="#{alumnoBean.registro}" ajax="dt_st"/>
        </p:panel>
    </h:form>
    <h:form>
        <p:panel header="Lista de Alumnos">
            <p:dataTable id="dt_st" var="alumno" value="#{alumnoBean.alumnos}">
                <p:column headerText="Nombres">
                    #{alumno.nombres}
                </p:column>
                <p:column headerText="Apellidos">
                    #{alumno.apellidos}
                </p:column>
            </p:dataTable>
        </p:panel>
    </h:form>
</h:body> </html>